*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body , html{
    width: 100%;
    height: 100%;
    font-family: calibri;
}

.navbar{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #742802;
    display: flex;
    z-index: 2;
}

.logo{
    color: white;
    display: flex;
    font-size: 3.5rem;
    font-weight: 900;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 80px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-flex;
    line-height: 80px;
    padding-left: 3vw;
    display: inline-flexbox;
    justify-content: space-between;
    font-size: 1.2rem;
    padding-top: 10px;
    
    
    
   
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    line-height: 60px;
    font-weight: 800;
    z-index: 2;
        
}

.navbar ul li a:hover{
    color: white;
    font-size: 1.9rem ;
    /* box-shadow: 2px 2px 2px white; */
}

.login a{
    text-decoration: none;
    color: white;
    border: 5px solid orangered; 
    border-radius: 9999px;
    font-size: 1.6rem;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 80px;
    margin-left: 5rem;
    font-weight: 800;
    margin-left: 3rem;
}

.login a:hover{
    text-decoration: underline;
    font-size: 1.8rem ;
}


#checkbtn{
    float: right;
    line-height: 80px;
    margin-left: 10%;
    margin-right: 50px;
    font-size:30px ;
    color: white;
    display: none;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: -0%;
   
}

@media(max-width: 1105px){
    label.logo{
        font-size: 3.5rem;
    }
    #checkbtn{
        display: block;
    }
    .navbar ul{
        width: 100%;
        height: 100%;
        background-color: black; 
        position: fixed;
        top: 60px;
        left: -100%;
        transition: 0.6s;

    }
    .navbar ul li{
        font-size: 2rem;
        display: block;
        text-align: center;
        padding-right: 5%;    
    }
     .login a{
        margin-left: 3rem;
     }

     .navbar ul li:active ~ul{
        left: -20%;
     }
     
    
}


@media(max-width: 1195px){
    .login a{ font-size: 1.2rem;}
    .login a:hover{font-size: 1.5rem;
    }
    .navbar ul li {
        padding-left: 2rem;
    }

    .navbar ul li a:hover{
        font-size: 1.5rem ;
    }
    /* .logo {
        padding-right: 5%;
    } */
  }

@media(max-width: 718px){
        .logo{
            padding-left: 3%;
            padding-right: 5%;
            font-size: 3rem;
        }
  }

  /* @media(max-width: 690px){
    .logo{
        padding-left: 1%;
        padding-right: 5%;
        font-size: 1rem;
    }
} */

/* navbar */
@media(max-width: 690px){
    
    #checkbtn{
        margin-right: 10px;
        margin-left: 10px;
    }

    .login{
        margin-left: 2px;
        padding-left: 0px ;
    }

    .login a{
        margin-left: 2%;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: #742802;
    border-radius: 10px;
  }

  .dropbtn{
    color: white;
    background: #742802;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    
  }
  
  .dropdown {
    line-height: 60px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-content a:hover {background: none; color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media(max-width: 1105px){
    .dropdown-content{
        margin-left:420px;
        justify-content: center;
    }
  }
  
  @media(max-width: 1089px){
    .dropdown-content{
        margin-left:38vw;
        justify-content: center;
    }
  }
  @media(max-width: 1045px){
    .dropdown-content{
        margin-left:35vw;
        justify-content: center;
    }
  }
  @media(max-width: 771px){
    .dropdown-content{
        margin-left:32vw;
        justify-content: center;
    }
  }

  @media(max-width: 585px){
    .dropdown-content{
        margin-left:27vw;
        justify-content: center;
    }
  }
  @media(max-width: 415px){
   .logo{
    font-size: 2.4rem;
   }
}
@media(max-width: 365px){
    .logo{
     font-size: 2rem;
    }
 }
/* HOME part started */

.home{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10rem;
}

.motto{
    
    color: grey;
}
.motto h1{
         color: orangered;
         font-size: 3.8rem;
         font-weight:900;
         padding-bottom:2vh;
}

.motto h4{
    font-size: 1.4rem;
}

.motto a{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 9999px;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.9rem;
    font-weight: 700;
    
}
.motto a:hover{
    box-shadow: 3px 3px 4px grey;
    font-size: 2.1rem;
}

.main_photo{
    background-image: url(assets/main3.jpeg);
    background-size:contain ;
    background-repeat: no-repeat; 
    height: 500px;
    width: 500px;
    /* padding-top: 28vh; */
    /* padding-left: 10vw; */

}
@media(max-width: 1055px){
    .main_photo{
        height: 0px;
        width: 0px;
    }
}

@media(max-width: 574px){
    .motto{
        padding-left: 50px;
    }
    .navbar{
        width: 100vw;
    }
}

@media(max-width: 524px){
    .motto{
        padding-left: 50px;
    }
    .motto h4{
        font-size: 1rem;
    }
    .motto h1{
        font-size: 2.5rem;
    }
    .navbar{
        width: 100vw;
    }
}


/* home part ended */

.body_upperdesign{
    height: 150px;
    width: 100%;
    background-image: url(assets/body.jpg);
    background-size: contain;
    
}

.mentorship{
    width: 100%;
    /* height: 900vh; */
    background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    border-top: 1px solid rgba(252, 252, 252, 0.728);
}

.slogan{
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    font-weight: 800;
    color: #742802;
}

.mentor_line h1{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    font-weight: 900;
    font-size: 3.4rem;
}

.mentor_line p{
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 2rem;
    padding-left: 96px;
    padding-right: 96px;
}

.exams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.jee{
    background-color: rgb(214, 243, 243);
    border: 0.5px solid white;  
    border-radius: 10px;  
    margin-top:55px ;
    padding-bottom: 30px;
}

.jee:hover{
    border: 0.5px solid black ;
}

.jee h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.jee_content{
    display: flex;
    mix-blend-mode: darken;
    padding-left: 20px;
}

.jee_content p{
    font-size: 1.7rem;
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
    font-weight: 600;
    padding-bottom: 10px;
}

.jee a{
    font-size: 1.3rem;
    /* color: rgb(68, 22, 250); */
    color:black ;
    background-color: rgb(239, 252, 252);
    padding: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 700;
    border: 3px solid rgb(28, 83, 83);
    border-radius: 999px;
    text-decoration: none; 
    margin-bottom: 5px;
    margin-left: 30px;
    
}

.jee a:hover{
    text-decoration: underline;
}

.jee_content img:hover{
    height: 209px;
    width: 209px;

}

@media(max-width: 994px){
    .slogan{
        font-size: 2.5rem;
    }
    .jee{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media(max-width: 924px){
    .slogan{
        font-size: 2.5rem;
    }
    .mentor_line h1{
        font-size: 2.5rem;
    }

    .mentor_line p{
        font-size: 1rem;
    }

}


@media(max-width: 628px){
    .slogan{
        font-size: 2rem;
    }

    .jee_content p{
        font-size:1.2rem ;}

}

@media(max-width: 538px){
    .jee_content img{
        height:150px ;
        width: 150px;
    }
    .mentor_line p{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width: 490px){
    .slogan{
        font-size: 1.5rem;

    }
    .mentor_line h1{
        font-size: 2rem;
    }
}

@media(max-width: 383px){
    .slogan{
        font-size: 1.2rem;

    }
    .mentor_line h1{
        font-size: 1.5rem;
    }
}

@media(max-width: 340px){
    .jee{
        margin-right: 20px;
    }
    .jee_content img{
        height: 100px;
        width: 100px;
    }
}


.specification{
    margin-top: 50px;
    height: 300px;
    background-image : url(assets/specification.jpg);
    background-size: contain;
    /* opacity: 0.7; */
    color: white;
}

.sp1{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.8rem;
    color: #fc5931;
}

.sp1 p{
    font-size: 1.8rem;
    color: white;
    padding-left: 1vw;
    display: inline-block;

}
.sp2{
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.8rem;
    color: #fc5931;
}
.sp2 p{
    font-size: 1.8rem;
    padding-left: 1vw;
    color: white;
    display: inline-block;
    
}

@media(max-width: 900px){
    .sp1 p{
        font-size: 1.2rem;
    }
    .sp2 p{
        font-size: 1.2rem;
    }
    .sp1 {
        font-size: 1.2rem;
    }
    .sp2 {
        font-size: 1.2rem;
    }
}

@media(max-width: 662px){
    .sp1 p{
        font-size: 1rem;
    }
    .sp2 p{
        font-size: 1rem;
    }
    .sp1 {
        padding-top: 40px;
        font-size: 1rem;
    }
    .sp2 {
        padding-top: 50px;
        font-size: 1rem;
    }

    .specification{
        height: 200px;
    }
}

@media(max-width: 578px){
    .sp1 p{
        font-size: 0.7rem;
    }
    .sp2 p{
        font-size: 0.7rem;
    }
    .sp1 {
        font-size: 0.7rem;
    }
    .sp2 {
        font-size: 0.7rem;
    }
    .specification{
        height: 180px;
    }
}


.whyus_slogen{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    columns: gray;
    font-weight: 800;
    /* margin-top: 10%; */
    /* border-top: 0.2px solid gray; */
    padding-top: 1%;
}



.whyus_slogen h4{
    padding-left: 30px;
    color: #742802;
}


.whyus_details{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
}
.whyus_details img{
    mix-blend-mode: darken;
    z-index: 1;
}

.whyus_details1 h1{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    color: rgb(75, 72, 72);
}

.whyus_details1 p{
    padding-top: 2%;
    font-size: 1.7rem;
    color:grey;
    font-weight: 500;
    display: flex;
    justify-content: center;

}

@media(max-width: 915px){
    .whyus_slogen{
        font-size: 3.5rem;
    }
    .whyus_slogen h4{
        padding-left: 20px;
    }
}

@media(max-width: 630px){
    .whyus_details{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 610px){
    .whyus_details{
        padding-left: 50px;
        padding-right: 50px;
    }

    .whyus_details1 h1{
        font-size: 2.5rem;
    }

    .whyus_details1 p{
        font-size: 1.2rem;
    }
    
    .whyus_slogen{
        font-size: 3rem;
    }
}

@media(max-width: 550px){
    .whyus_slogen{
        font-size: 2.3rem;

    }
    .whyus_slogen h4{
        padding-left: 10px;
    }

    .whyus_details img{
        height: 250px;
        width: 250px;
    }
}

@media(max-width: 419px){
    .whyus_details1 h1{
        font-size: 1.8rem;
    }
    .whyus_details1 p{
        font-size: 1rem;
    }
    .whyus_slogen{
        font-size: 1.9rem;
    }
    .whyus_slogen h4{
        padding-left: 5px;
    }
}

@media(max-width: 328px){
    .whyus_details1 h1{
        font-size: 1.5rem;
    }
}


.impfact{
    height: 400px;
    background-image: url(assets/fact.png);
    background-size: contain;
}

.impfact h1{
    font-size: 2.9rem;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.impfacts{
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* padding-top: 30px; */
    font-size: 2rem;
    padding: 0px;
}

#counter1{
    font-size: 70px;
    font-weight: bold; 
    padding: 0px;  
}

#counter2{
    font-size: 70px;
    font-weight: bold;  
    padding: 0px; 
}

.impfac{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1rem;
    padding: 0px;
}
.impfactregister{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1rem;
    padding: 10px;
    
}

.impfactregister a{
    text-decoration: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    font-weight: 900;
    border: 4px solid white ;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.impfactregister a:hover{
    color: #fc5931;
    background: white;
    
}

@media(max-width: 922px){
    .impfact h1{
        font-size: 2.3rem;
    }
}

@media(max-width: 747px){
    .impfact h1{
        font-size: 2rem;
    }
    #counter1{
        font-size: 50px;
    }
    #counter2{
        font-size: 50px;
    }
}

@media(max-width: 621px){
    .impfact h1{
        font-size: 1.7rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    #counter1{
        font-size: 45px;
    }
    #counter2{
        font-size: 45px;
    }

    .impfactregister a{
        font-size: 1rem;
    }
    .impfact{
        height: 370px;
    }

}

@media(max-width: 391px){
    .impfact h1{
        padding-left: 50px;
    }
}

@media(max-width: 350px){
    .impfact h1{
        padding-left: 20px;
    }

}





.mentors{
    background-image: linear-gradient(135deg, transparent 0%, transparent 6%,rgba(71,71,71, 0.18) 6%, rgba(71,71,71, 0.18) 22%,transparent 22%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 20%,rgba(71,71,71, 0.18) 20%, rgba(71,71,71, 0.18) 47%,transparent 47%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 24%,rgba(71,71,71, 0.18) 24%, rgba(71,71,71, 0.18) 62%,transparent 62%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 73%,rgba(71,71,71, 0.18) 73%, rgba(71,71,71, 0.18) 75%,transparent 75%, transparent 100%),linear-gradient(90deg, rgba(255,255,255, 0),rgba(255,255,255, 0));
    height: 600px;
    /* margin-top: 60px; */
}

.meet_mentors h6{
    padding-top: 2%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(53, 51, 51);
}

.meet_mentors h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #fc5931;
}

.mentor_pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3%;
    
}

.pic1{
    border: 1px solid white;
    box-shadow: 2px 2px white;
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.pic1:hover{
    background-color: #ff6943b9;
}


.pic1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 19px;
}


.pic1 h2{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}


.pic1 h6{
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
}

@media(max-width: 890px){
   .mentors{
    height: 780px;
   }
   .pic1{
    margin-top: 40px;
   }
}


@media(max-width: 508px){
    .meet_mentors h1{
        font-size: 2.2rem;
        padding-left: 10px;
        padding-right: 10px;
    }
 }

 @media(max-width: 460px){
    .pic1 img{
        height: 150px;
        width: 150px;
    }
    .mentors{
        height: 670px;
    }
 }

 @media(max-width: 394px){
    .meet_mentors h1{
        font-size: 1.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }
 }

 @media(max-width: 374px){
    .pic1 img{
        height: 100px;
        width: 100px;

    }

    .pic1 h2{
        font-size: 1rem;
    }

    .pic1 h6{
        font-size: 0.4rem;
    }
    .mentors{
        height: 500px;
    }
 }

 @media(max-width: 322px){
    .meet_mentors h1{
        font-size: 1.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
 }


/* footer starts here*/
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    background-color: #0c0436;
    color: rgb(223, 219, 219);
    padding-top: 7vh;
}
.footer-links ul{
    list-style-type: none;
}
.footer-intro p{
    font-size: 1.4rem;
}
.footer-intro h2{
    font-size: 2rem;
    padding-bottom: 3vh;
}

.footer-links h2{
    font-size: 2rem;
    padding-bottom: 3vh;
}

.footer-info h2{
    font-size: 2rem;
    padding-bottom: 3vh;
}

.footer-links a{
    text-decoration: none;
    color: rgb(223, 219, 219);
    padding: 1vh;
    font-size: 1.1rem;
}

.footer-links ul li{
    padding-bottom: 1vh;
}



.footer-info ul li {
    padding-bottom: 2vh;
    list-style-type: none;
    font-size: 1.1rem;   
}

.footer-info ul li a{
    text-decoration: none;
    color: white;
}

.footer-info ul li:hover{
    color: #fc5931;
    text-decoration: underline;
}

.footer-info ul li i{
    padding-right: 5px;
}

.footer-links ul li:hover{
    font-size: larger;
    color: #fc5931;
    text-decoration: underline;
}

.footer-end{
    background-color:#0c0436 ;
    color: #afabab;
    height: 50px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
    border-top: 0.7px solid #afabab ;
    font-weight: 600;
    
}
.footer-end a{
    text-decoration: none;
    color: orange;

}
.footer{
    background-image: url(footer.jpg);
    background-size: cover;
}


@media(max-width: 748px){
    .footer-intro img{
        height: 0px;
        width: 0px;
    }
    
}

@media(max-width: 700px){
    .footer-intro img{
        height: 0px;
        width: 0px;

    }

    .footer{
        height: 500px;
    }

    
}

@media(max-width: 411px){
    .footer-links h2{
        font-size: 1.2rem;
        padding-bottom: 3vh;
    }
    
    .footer-info h2{
        font-size: 1.2rem;
        padding-bottom: 3vh;
    }
    .footer-info ul li {
        padding-bottom: 2vh;
        list-style-type: none;
        font-size: 0.8rem;   
    }
    .footer-link ul li {
        padding-bottom: 2vh;
        list-style-type: none;
        font-size: 0.8rem;   
    }
}


.side_navigation{
    position: fixed;
    float: left;
    margin-top: 40vh;
    background-image: linear-gradient(135deg, transparent 0%, transparent 17%,rgba(87, 146, 234,0.6) 17%, rgba(87, 146, 234,0.6) 59%,transparent 59%, transparent 64%,rgba(34, 81, 222,0.6) 64%, rgba(34, 81, 222,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgb(87, 146, 234) 2%, rgb(87, 146, 234) 46%,rgb(114, 178, 239) 46%, rgb(114, 178, 239) 54%,transparent 54%, transparent 63%,rgb(7, 48, 216) 63%, rgb(7, 48, 216) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    /* border: 0.001px solid white; */
    border-radius: 0px 15px 15px 0px;
    /* padding: 5px; */
}

.icons a img{
    height: 40px;
    width: 40px;
    margin: 3px;
    border: 0.1px solid white;
    border-radius: 50%;
    background-color: white;
    margin-top: 5px;
}

.icons a img:hover{
    height: 50px;
    width: 50px;
}

/* .cross{
    position: fixed;
    font-size: 20px;
    margin-left: 40px;
    border: 2px solid wheat  ;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.side_navigation:active{
    display: none;
} */

@media(max-width:730px){
    .icons a img{
        height: 20px;
        width: 20px;
    }

    .icons a img:hover{
        height: 30px;
        width: 30px;
    }
}

